<%- include('header') %>

      <section class="container">
        <% if(pesan != '') { %>
          <div class="alert alert-primary" role="alert">
            <%= pesan %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
          <table class="table table-bordered mt-5">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">username</th>
                  <th scope="col">Email</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% result.forEach(i => { %>
                <tr>
                  <th class="number" scope="row"><%= nomor++ %></th>
                  <td><%= i.username %></td>
                  <td><%= i.email %></td>
                  <td class="text-center">
                    
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal<%= i.id %>" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>View</a>
                    <a data-bs-toggle="modal" data-bs-target="#updateModal<%= i.id %>"  type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Edit</a>
                    <a href="/remove/<%= i.id %>" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>Delete</a>
                  </td>
                </tr>
                
                  <% }) %>
              </tbody>    
          </table>

          <% profile.forEach(d => { %>
          <div class="modal fade" id="exampleModal<%= d.user_id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Detail Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <ul>
                    <li><%= d.first_name %></li>
                    <li><%= d.last_name %></li>
                    <li><%= d.umur %></li>
                    <li><%= d.tgl_lahir %></li>
                    <li><%= d.gender %></li>
                    <li><%= d.address %></li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <% }) %>

<!-- modal update -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->
<% profile.forEach(a => { %>
<div class="modal fade" id="updateModal<%= a.user_id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

<form class="row g-3 needs-validation" method="post" action="/super-user" novalidate>
  <input type="hidden" class="form-control" id="floatingInput" placeholder="First Name" name="user_id" value="<%= a.user_id %>">
  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="first_name">
          <label for="floatingInput">First Name</label>
      </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="last_name">
          <label for="floatingInput">Last Name</label>
      </div>
  </div>

  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" placeholder="umur" name="umur">
          <label for="floatingInput">age</label>
      </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="date" class="form-control" id="floatingInput" placeholder="tgl lahir" name="tgl_lahir">
          <label for="floatingInput">tanggal lahir</label>
      </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Gender" name="gender">
          <label for="floatingInput">gender</label>
      </div>
  </div>
  <div class="col-6">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="address" name="address">
          <label for="floatingInput">address</label>
      </div>
  </div>

  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>

</form>
      </div>
     
    </div>
  </div>
</div>
<% }) %>


      </section>

      <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
<script>
let dataUser = JSON.parse(getCookie('user-data'))
console.log(dataUser)
if(dataUser.username != "admin" ){
  alert("Anda Bukan Super User")
  window.location.href ='/login'
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
</script>
  <!-- Modal -->
      <%- include('footer') %>
